/*
KIRBY TABLEX v0
Florian Karsten
*/



/*
ROW BLOCKS
*/

.tablex-field .tablex-ctrl,
.tablex-field .tablex-row,
.tablex-field .tablex-add-row {
	display: flex;
}

.tablex-field .tablex-ctrl {
	border-left: 1px solid transparent;
	border-right: 1px dashed #d7d7d7;
}

.tablex-field .tablex-row {
	border: 1px solid #ddd;
	border-top: none;
}

.tablex-field .tablex-row:first-child {
	border-top: 1px solid #ddd;
}

.tablex-field .tablex-add-row {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}



/*
CONTROLS BLOCKS
*/

.tablex-field .row-ctrl {
	position: relative;
	flex-shrink: 0;
	flex-grow: 0;
	width: 1.5rem;
	height: 1.5rem;
}

.tablex-field .row-ctrl:first-child {
	border-right: 1px solid #ddd;
}

.tablex-field .row-ctrl:last-child {
	border-left: 1px solid #ddd;
}

.tablex-field .tablex-ctrl .row-ctrl {
	height: calc(1.5rem + 2px);
}

.tablex-field .tablex-ctrl .row-ctrl:first-child {
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.tablex-field .tablex-ctrl .row-ctrl:last-child {
	border-top: 1px dashed #d7d7d7;
	border-bottom: 1px dashed transparent;
	border-left: 1px solid transparent;
}

.tablex-field .tablex-row .row-ctrl {
	height: 3rem;
}

.tablex-field .tablex-add-row .row-ctrl:first-child,
.tablex-field .tablex-add-row .row-ctrl:last-child {
	border-color: transparent;
}



/*
CELLS
*/

.tablex-field .row-cell {
	position: relative;
	width: 100%;
	height: 3rem;
	border: none;
	border-right: 1px solid #ddd;
	padding-right: 0;
}

.tablex-field .tablex-header .row-cell {
	font-weight: 700;
}

.tablex-field .row-ctrl + .row-cell {
	border-left: 1px solid #ddd;
}

.tablex-field .tablex-ctrl .row-cell {
	height: calc(1.5rem + 2px);
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.tablex-field .tablex-add-row .row-cell {
	height: calc(3rem + 2px);
	border: 1px dashed #d7d7d7;
	border-top: 1px solid #ddd;
}



/*
CONTROLS ICONS
*/

.tablex-field i.fa {
	position: absolute;
	top: 0;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 12px;
	line-height: 1.5rem;
	text-align: center;
	color: #bbb;
	cursor: pointer;
}

.tablex-field i.fa.disabled {
	pointer-events: none;
	color: #e2e2e2;
}

.tablex-field i.fa:hover {
	color: #000;
}

/* table header */
.tablex-field .tablex-header i.fa-header {
	height: 3rem;
	font-size: 14px;
	line-height: 3rem;
}

/* move down */
.tablex-field .row-ctrl i.fa-chevron-down {
	top: 1.5rem;
}

/* move right */
.tablex-field .row-cell i.fa-chevron-right {
	right: 0;
}

/* delete row */
.tablex-field .row-ctrl i.fa-times-circle {
	height: 3rem;
	font-size: 14px;
	line-height: 3rem;
}

/* delete column */
.tablex-field .row-cell i.fa-times-circle {
	left: 50%;
	margin-left: -0.75rem;
	font-size: 14px;
}

.tablex-field .tablex-add-row i.fa-plus {
	width: 100%;
	height: 3rem;
	line-height: 3rem;
}



/*
Transitions
*/

[v-cloak].tablex-field {
	display: none;
}
